@import "./font";
@import "./colors";
@import "../components/EditTodo/editToDo";
@import "../components/Input/input";
@import "../components/List/list";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
input,
button {
  font-family: $font, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $violet;
  color: $yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 90%;
  margin: 0 auto;
}

.ReactModal__Content {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: $violet;
  overflow: auto;
  border: 0.2rem solid $yellow;
  border-radius: 4px;
  outline: currentcolor none medium;
  padding: 20px;
}
